<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dingar.twok.account">

  <application android:theme="@style/Theme.2K">
    <activity
        android:name=".presentation.view.ActivityPrivacyPolicy"
        android:exported="false" />
    <activity
        android:name=".presentation.view.Activity_Balance_Help"
        android:exported="false" />
    <activity
        android:name=".presentation.view.Activity_About"
        android:exported="false" />
    <activity
        android:name=".presentation.view.Activity_Balance"
        android:exported="false" />
  </application>

</manifest>